.list{
    width: 350px;
    padding: 0;
    
}
.item{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
    list-style: none;
    height: 75px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.status{
    display: flex;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.true{
    background-color: green;
}
.false{
    background-color: red;
}
.avatar{
    background-color: rgb(151, 144, 41);
    width:60px;
    border: 1px;
    border-radius: 4px;
    margin-right: 10px;
}
.name{
        font-family:'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.5;
        margin-top: 25px;
}